<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <title>addlocation</title><div class="wrapper fadeInDown">
      <link href="./static/css/signup.css" rel="stylesheet" />
    </head>
    <body>

      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active">  </h2>
          <a href = "/signin"><h2 class="inactive underlineHover"> Sign In </h2></a>

          <!-- Icon -->
          <div class="fadeIn first">
            <h3>Add Location Of The New NB"CH</h3>
          </div>

          <!-- Login Form -->
          <form method="post" action="/addnbch">

            <input type="text" id="name" class="fadeIn second" name="name" placeholder="Name" required>
            <input type="text" id="Location" class="fadeIn third" name="location" placeholder="Add Location" required>
            <input type="text" class = "fadeIn fourth" name="des" id="des" placeholder="Description" required>
            <input type="submit" class="fadeIn fifth" value="Submit">
          </form>


        </div>
      </div>
    </body>